@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --bg: #fafafa;
    --card-bg: #ffffff;
    --alt-bg: #f0f4f7;
    --turquoise: #1abc9c;
    --gray: #7f8c8d;
    --text: #2c3e50;
}